# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tmhfqosgpmllabbizvxs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtaGZxb3NncG1sbGFiYml6dnhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwODk3MjMsImV4cCI6MjA3ODY2NTcyM30.H0jcgm7yZznvAcnwwCnoxvMa7EEAIfunTGJL6oDVlSg

# Analytics (opcional)
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXX

# Links de Download dos Ebooks
NEXT_PUBLIC_EBOCK_1_URL=https://example.com/ebook1.pdf
NEXT_PUBLIC_EBOCK_2_URL=https://example.com/ebook2.pdf
NEXT_PUBLIC_EBOCK_3_URL=https://example.com/ebook3.pdf

# Links Externos
NEXT_PUBLIC_TELEGRAM_GROUP=https://t.me/+vyNGKyTygNY1ODQx
NEXT_PUBLIC_WHATSAPP_LINK=https://chat.whatsapp.com/KPQjKZF3LfMEbH9dDo7u11?mode=ems_copy_t
NEXT_PUBLIC_APP_LINK=https://your-app.com?cupom=NEURO100

